on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  release:
    types: [published]

jobs:
  tests:
    name: Run Matrix Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python versions
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install Hatch
        run: pipx install hatch

      - name: Run Hatch Tests
        run: hatch test --all

  build-and-publish:
    name: Build and Publish to PyPI
    needs: tests
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    environment:
      name: pypi
      url: https://pypi.org/p/pytest-inject
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install Hatch
        run: pipx install hatch

      - name: Build package
        run: hatch build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1